/*MOBILE*/

@media screen and (min-width: 1px) and (max-width: 755px) {
	
	body {
	
	
	> .head {
	margin-top:-250px;
		> #content_content {
		
		}
	}
	
	> #space {	
	margin-bottom:250px;	
	height:10px;	
	}
	
	>.row{	
	margin-left:55px;
	
	
	> #subRow {	
	margin-left:-90px;
		> #myCarousel{
		
		
		> .carousel-inner{
		
			> .item{
			width:110%;
			height:200px;
			
			
			> .carousel-caption{
			margin-left:-20%;
		
			
			
			h4 {
			font-size:11px;
			margin-left:1px;
			
			}
			}
			}
			
		
		}
	
	}
	}
	


}
  
	
	> #navegacao{ 
	margin-top:-10px;
	}
		> #header {
		> .content {
			@include make-row;
			
			> .logo1 {
			
				
			
			}
			
			
			> .logo2 {
				
			> .panel-body {
			
			a > #icoFace {
			margin-left:10%;
			}
			a > #icoyoutube{
			margin-left:30%;
			margin-top:-45px;
			}
			
			a > #icoTw{
			margin-left:70%;
			margin-top:-45px;
			}
			
			}
			
			
			}
		
		
		}
	
	
	}
			
	}
	
}/*FIM MOBILE*/



/*TABLE*/
@media screen and (min-width: 701px) and (max-width: 1024px) { 
	
	body {
	
	> .head {
	
		> #content_content {
		
		}
	}
	 	
	> .row {
	
	
	
	> #sorte {
	
	
	margin-top:-4650px;
	
	> .panel {
	
	
	
	
	}
	}
	
	}
	
	> #navegacao {
		> .container {
		> #navegacao__content {
		> .navbar {
		margin-left:-50px;
		}
		
		}
		
		
		}
	
	
	}
	
	> #header {
		> .content {
			@include make-row;
			
			> .logo1 {
			
			@include make-sm-column-offset(0);
			
			
			}
			
			
			> .logo2 {
			margin-top:-150px;
				@include make-sm-column(5);
				@include make-sm-column-offset(6);
			
			a > #icoFace {
			margin-left:10%;
			}
			a > #icoyoutube{
			margin-left:30%;
			margin-top:-45px;
			}
			
			a > #icoTw{
			margin-left:70%;
			margin-top:-45px;
			}
			
			}
		
		
		}
	
	
	}
	
	
	>.row{	
		> #subRow {	
			> #myCarousel{
				margin-left:5px;
				> .carousel-inner{
					> .item{ 
					width:930px;
				}	 
			
			}		
		 }	
	}
	 
	 
	}

	}
}/*FIM TABLE*/


/*DESKTOP*/
@media screen and (min-width: 1025px) and (max-width:1500px) {

body {


	
	


	> #header {
		> .content {
			@include make-row;
			
			> .logo1 {
			
			@include make-sm-column-offset(0);
			
			
			}
			
			
			> .logo2 {
			margin-top:-130px;
				@include make-sm-column(3);
				@include make-sm-column-offset(9);
			
			a > #icoFace {
			margin-left:10%;
			}
			a > #icoyoutube{
			margin-left:30%;
			margin-top:-45px;
			}
			
			a > #icoTw{
			margin-left:70%;
			margin-top:-45px;
			}
			
			}
		
		
		}
	
	
	}

}
	
	
}/*FIM DESKTOP*/
