

@import url('css/style.css');


.text{
	text-align: justify;
	
	width: 	750px;
}
.img {
	margin-left: ;
}

.title {
	
	margin-left: 35%;
	margin-top: -20px; 	 	
}
#sorte{
	
	margin-top:-5135px;
	margin-left: 115px;
	background-color: white;
	width: 793px;
}

.sidebar {
	margin-top: -38px;
	
}

#space{
	
	margin-top:90px;
	
}
.widgets {
	
	
}
.sidebar .widgets {
	box-shadow: 2px 2px 2px #888888;
	width: 300px;
	background-color:white;
	border: 1px solid white;
	padding: 18px;
	font-family: Helvetica;
	font-size: 20px;
	color: #333333;
	margin-top: 39px;
	margin-left:5%;
	opacity:0.9;
	
}

.widgets h4{
	
	margin-left: 35%;
	margin-top: -5px;
	color: #065206;
}

.sidebar .widgets a {
	margin-left: -20%;
	font-size: 18px;
}
.sidebar .widgets a:hover {
	font-family: Helvetica;
	color: #065206;
	list-style: none;
	text-decoration:none; 
}

.sidebar .widgets ul {
	
	list-style-type: none;
}

.widgets a {
	
	color: black;
	
}
