

@import url('css/style.css');


img, 
.wp-caption {
	max-width: 100%;
	height: 300px;
}


@media screen and (min-width: 1025px) and (max-width:1500px) { 
	
img, 
.wp-caption {
	max-width: 100%;
	height: 500px;
}
.img {
	margin-left: 10%;
	
}

.text {
	margin-left: 10%;
	width:74%;
	
}
	
}

section {
	width: 100%;
	height: 620px;
	border: solid black 1px;
	
	
}

.btn{
	
	margin-left: 40%;
}
#sorte{	
	
   
	margin-top: -5150px;
	
	
}

#cara {
	
	
	height: 2300px;
}
.text{
	text-align: justify;	
	
	
}


.title h3{
	
	margin-left: 30%;
	margin-top: -10px; 	 	
}



.link:HOVER{
	background-color: #0d980d;
}
.sidebar .widgets {
	box-shadow: 2px 2px 2px #888888;
	width: 95%;
	background-color:white;
	border: 1px solid white;
	padding: 18px;
	font-family: Helvetica;
	font-size: 20px;
	color: #333333;
	margin-top: 1px;
	
	opacity:0.9;
	
}
@media screen and (min-width: 701px) and (max-width: 1024px) {  
	.text{
	text-align: justify;	
	width: 95%;
	
	}
	
	.btn {
	margin-left: 50%;
	}
	
	
}
	
	@media screen and (min-width: 801px) and (max-width: 1024px) {  
	.text{
	text-align: justify;	
	width: 77%;
	margin-left: 15%;
	
}
	
.img {
	margin-left: 15%;
}
}
@media screen and (min-width: 1px) and (max-width: 755px) { 
	
	
	
	.sidebar .widgets {
	margin-left: -60px;
	margin-bottom: 5px;
	margin-top: 5px;
	width: 114%;
}

.text{
	text-align: justify;	
	width: 95%;
	margin-left: 5%;
}
	
	#sorte {
	
	margin-top:-4681px;
	margin-left: -50px;
	}
}
@media screen and (min-width: 1px) and (max-width:615px) { 
	
	#sorte {
	
	margin-top:-4732px;
	margin-left: -70px;
	}
	
}

@media screen and (min-width: 1px) and (max-width:534px) { 
	
	#sorte {
	
	margin-top:-4800px;
	
	}
	
}




@media screen and (min-width: 1px) and (max-width:475px) { 
	
	#sorte {
	
	margin-top:-4852px;
	}
	
}


@media screen and (min-width: 1px) and (max-width:434px) { 
	
	#sorte {
	
	margin-top:-4902px;
	}
	
}


@media screen and (min-width: 1px) and (max-width:396px) { 
	
	#sorte {
	
	margin-top:-4970px;
	}
	
}

@media screen and (min-width: 1px) and (max-width:445px) { 
	
	#sorte {
	
	margin-top:-4880px;
	}
	
}

@media screen and (min-width: 1px) and (max-width:431px) { 
	
	#sorte {
	
	margin-top:-4910px;
	}
	
}

@media screen and (min-width: 1px) and (max-width:388px) { 
	
	#sorte {
	
	margin-top:-4965px;
	}
	
}

@media screen and (min-width: 1px) and (max-width:380px) { 
	
	#sorte {
	
	margin-top:-5025px;
	}
	
}


@media screen and (min-width: 1px) and (max-width:400px) { 
	
	#sorte {
	
	margin-top:-4965px;
	}
	
}

@media screen and (min-width: 1px) and (max-width:361px) { 
	
	#sorte {
	
	margin-top:-5025px;
	}
	
}


@media screen and (min-width: 1px) and (max-width:349px) { 
	
	#sorte {
	
	margin-top:-5052px;
	}
	
}

@media screen and (min-width: 1px) and (max-width:349px) { 
	
	#sorte {
	
	margin-top:-5052px;
	}
	
}


@media screen and (min-width: 1px) and (max-width:350px) { 
	
	#sorte {
	
	margin-top:-5172px;
	}
	
}

@media screen and (min-width: 1px) and (max-width:300px) { 
	
	#sorte {
	
	margin-top:-5232px;
	}
	
}

@media screen and (min-width: 701px) and (max-width: 1024px) { 
	
	
.sidebar .widgets { 
	
	margin-top: 15px;
}


	}
	
	


	




				
.widgets h4{
	
	margin-left: 35%;
	margin-top: -5px;
	color: #065206;
}

.sidebar .widgets a {
	
	font-size: 18px;
}
.sidebar .widgets a:hover {
	font-family: Helvetica;
	color: #065206;
	list-style: none;
	text-decoration:none; 
}

.sidebar .widgets ul {
	
	list-style-type: none;
}

.widgets a {
	
	color: black;
	
}


	
	
	












